{% extends 'master.twig' %}

{% block content %}
<h2>Su contrase&ntilde;a ha sido enviada a su correo electr&oacute;nico</h2>
<div style="float:right"><a href="http://etechwebsite.com/conricyt/conricyt-select/">Ir a la P&aacute;gina de Ingreso</a></div>

{% endblock %}