<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Recuperaci&#243;n  de Contrase&#241;a- CONRICYT</title>
</head>
<body>

<center>
<img src="http://conricyt.mx/conremoto/auth/conricyt2.png" />
</center>

<br />

<h1>Recuperaci&#243;n  de Contrase&#241;a para acceso remoto</h1>
<h3><strong>Apreciable {{ user.firstname }} {{ user.lastname }}:</strong></h3>
<p>Gracias por contactarnos. A Continuaci&#243;n se encuentran los datos solicitados:</p>

<li>Usuario : <strong>{{ user.Credentials.username }}</strong></li>
<li>Contrase&#241;a : <strong>{{ user.Credentials.password }}</strong></li>

<p>

<strong>Aviso de Confidencialidad</strong>
<br /><div align='justify'>
En el Consorcio Nacional de Recursos de Informaci&#243;n Cient&#237;fica y Tecnol&#243;gica (CONRICYT), www.conricyt.mx, con domicilio en Av. Insurgentes Sur 1582, Col. Cr&#233;dito Constructor, Delegaci&#243;n Benito Ju&#225;rez, C.P.: 03940, M&#233;xico, D.F.; la informaci&#243;n de nuestros usuarios es tratada en forma estrictamente confidencial por lo que sus datos personales son utilizados &#250;nicamente con la finalidad de brindar acceso a los recursos electr&#243;nicos proporcionados por el Consorcio. 
</div><br /><br /> 
</p>

</body>
</html>

