{% extends 'master.twig' %}

{% block content %}
<h2>Gracias, el registro se ha realizado correctamente</h2>


<p style="text-align:center">En un plazo de 14 d&iacute;as  naturales recibir&aacute;s por correo electr&oacute;nico la clave de acceso remoto activada, 
mediante  la cual podr&aacute;s acceder a los recursos electr&oacute;nicos asignados a la Instituci&oacute;n a  la que perteneces por el CONRICYT<sup>*</sup>.</p>
<div align="center">
	<table border="1" width="680" id="table1" style="border-collapse: collapse" cellpadding="3">
		<tr>
			<td>
			<p style="text-align:center">Te sugerimos estar pendiente de tu <i>
			Bandeja de entrada </i>de correos, <b><i>y no olvides revisar</i></b> 
			la carpeta de <i>SPAM o Correo no deseado </i>de tu buz&oacute;n, ya que 
			algunas veces estos correos llegan all&iacute; accidentalmente.</p></td>
		</tr>
	</table>
</div>

<p align="center">
  Si en un plazo de 14 d&iacute;as naturales a  partir de tu fecha de registro no recibes tu informaci&oacute;n de acceso o no puedes  ingresar a los recursos electr&oacute;nicos 
  mediante tu clave, por favor env&iacute;a un  correo electr&oacute;nico a la direcci&oacute;n: 
	<a href="mailto:consorcio@conacyt.mx?subject=Problema con registro">consorcio@conacyt.mx</a> para solucionar cualquier
  problema al respecto. </p>
<p align="center"><sup>*</sup>Si deseas conocer cu&aacute;les son los  recursos electr&oacute;nicos a los que tu Instituci&oacute;n tiene acceso por parte del CONRICYT, 
puedes consultarlos en <a href="http://www.conricyt.mx/acervo-editorial/recursos-por-institucion">http://www.conricyt.mx/acervo-editorial/recursos-por-institucion</a></p>


<div style="float:right"><a href="http://etechwebsite.com/conricyt/conricyt-select/">Ir a la P&aacute;gina de Ingreso</a></div>
{% endblock %}