{% extends 'master.twig' %}

{% block content %}
<img class="confirmacion" src="images/registro_ok.png" />
<h2>&iexcl;Gracias!, tu registro se ha realizado correctamente</h2>

<p style="text-align:center">Hemos recibido tu solicitud de Clave de Acceso Remoto. En 
unos minutos recibir&aacute;s un mail en las cuentas de correo registradas en el 
formulario con las indicaciones que debes tomar en cuenta para que la Clave de Acceso Remoto 
quede totalmente activada.</p>
<div class="aviso">
	<p style="text-align:center">Si el correo enviado no te aparece en la bandeja de entrada, 
	te sugerimos revisar en la carpeta de SPAM o correo no deseado de tu cuenta</p>
</div>

<ul style="margin: 0 80px 13px; font-family: Arial,Helvetica,sans-serif; font-size: 0.8em; text-align: left;">
  <li>En caso de no recibir el correo electr&oacute;nico comun&iacute;cate al tel&eacute;fono 
  (+52 55) 5322-7700 ext. 4020 a 4026 para que te apoyemos en la obtenci&oacute;n de tu Clave de 
  Acceso Remoto.</li>
  <li>Para conocer los recursos de informaci&oacute;n cient&iacute;fica y tecnol&oacute;gica a 
  los que tiene derecho tu instituci&oacute;n de procedencia consulta la p&aacute;gina 
  <a href="http://www.conricyt.mx/acervo-editorial/recursos-por-institucion">
  http://www.conricyt.mx/acervo-editorial/recursos-por-institucion</a></li>
</ul>

<a href="http://www.conricyt.mx/"><span class="boton_pagina"></span></a><br />
{% endblock %}