{% extends 'master.twig' %}

{% block content %}
<img class="confirmacion" src="images/registro_ok.png" />
<h2>&iexcl;Gracias!, tu registro se ha realizado correctamente</h2>


<p style="text-align:center">Se ha enviado a las cuentas de correo electr&oacute;nico registradas 
tu clave de acceso remoto (nombre de usuario y contrase&ntilde;a).</p>
<div class="aviso">
	<p style="text-align:center">Si el correo enviado no te aparece en la bandeja de entrada, 
	te sugerimos revisar en la carpeta de SPAM o correo no deseado de tu cuenta</p>
</div>

<p align="center">Te informamos que tu clave de acceso remoto quedar&aacute; activa en un plazo de 2 
  (dos) d&iacute;as h&aacute;biles, <br />mediante la cual podr&aacute;s acceder a los recursos 
  de informaci&oacute;n cient&iacute;fica y tecnol&oacute;gica<br />
  a los que tiene derecho la instituci&oacute;n a la que perteneces.</p>
<p align="center">Si en el plazo antes mencionado tu clave no ha sido activada<br />
comun&iacute;cate al tel&eacute;fono (+52 55) 5322-7700 ext. 4020 a 4026 para dar seguimiento y soluci&oacute;n al problema.
</p>
<p align="center">Para conocer los recursos electr&oacute;nicos a los que tiene derecho tu instituci&oacute;n<br />
consulta la p&aacute;gina <a href="http://www.conricyt.mx/acervo-editorial/recursos-por-institucion">http://www.conricyt.mx/acervo-editorial/recursos-por-institucion</a></p>

<a href="http://www.conricyt.mx/"><span class="boton_pagina"></span></a><br />
{% endblock %}